<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {%extends 'main.html'%}
    <!-- Main Content of Home -->
    {%block content%}
    <style>
      .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
      }
    </style>
    <h1>Home Template</h1>
    <div class="home-container">
      <!-- Topics -->
      <div class="topic">{% include 'base/topic_component.html' %}</div>
      <!-- Rooms -->
      <div>{% include 'base/room_component.html' %}</div>
      <!-- Activity -->
      <div>{% include 'base/activity_component.html' %}</div>
    </div>

    {%endblock%}
  </body>
</html>
